<!DOCTYPE html>
<html>
  <head>
    <title>Bertie's Books</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bertie's Books</h1>
    <h2><%= heading %></h2>
    <ul>
      <% for (let book of availableBooks) { %>
      <li><%= `${book.name} £${book.price}` %></li>
      <% } %>
    </ul>
  </body>
</html>
